El csv que elegí (csv/titanic.csv) recopila detalles personales acerca de cada una de las personas que iban a bordo del Titanic, datos de su pasaje y estadía, si sobrevivieron o no y si tenían relación con otros pasajeros.

In [26]:
import pandas as pd
import numpy as np

def arreglar_columnas(columnas):
  for i in range(len(columnas)):
    columnas[i] = columnas[i].replace(" ","")
  return columnas

def resolver_espacios(valor):
  valor = str(valor)
  if valor[0] == ' ':
    valor = valor[1:]
  if valor == '' or valor == '-': # agregué la condición valor == '-'
    valor = np.nan
  if valor == 'nan':
    valor = np.nan
  return valor

def arreglar_sexo(valor): # reemplaza las expresiones 'female' y 'male' por 'F' y 'M' respectivamente
  if valor == 'female':
    return 'F'
  else:
    return 'M'

def arreglar_ticket(valor): # agrega un '/' entre letras y números para estandarizar los tickets
  valor_str = str(valor)
  if '/' not in valor_str:
    return valor_str.replace(' ','/')
  else:
    return valor_str

def arreglar_tarifa(valor): # redondea el coste de las tarifas a dos dígitos decimales
  valor_str = str(valor)
  if '.' in valor_str and len(valor_str.split('.')[1]) > 2:
    return round(valor,2)
  else:
    return valor

csv = pd.read_csv("../csv/titanic.csv")
csvColumnas = list(csv.columns)
csv.columns = arreglar_columnas(csvColumnas)

csv = csv.fillna('-') # en caso de que un pasajero no tuviera cabina, se rellena el espacio con '-'
csv["Age"] = csv["Age"].apply(resolver_espacios)
csv.dropna(inplace=True)
csv["Sex"] = csv["Sex"].apply(arreglar_sexo)
csv["Ticket"] = csv["Ticket"].apply(arreglar_ticket)
csv["Fare"] = csv["Fare"].apply(arreglar_tarifa)

csv.to_csv('../csv/titanicnuevo.csv')
print(csv)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris   M  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   F  38.0      1
2                               Heikkinen, Miss. Laina   F  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   F  35.0      1
4                             Allen, Mr. William Henry   M  35.0      0
..                                                 ...  ..   ...    ...
885               Rice, Mrs. William (Margaret Norton)   F  39.0      0
886                              Montvila, Rev. Juozas   M  27.0      0
887                       Graham, Miss. Margaret Edith   F  19.0      0
889                              Behr, Mr. Karl Howell   M  26.0      0
890                                Dooley, Mr. Patrick   M  32.0      0

     Parch            Ticket   Fare Cabin Embarked
0        0         A/5 21171   7.25     -        S
1        0          PC/17599  71.28   C85        C
2        0  STON/O2. 3101282   7.92     -        S
3        0            113803  53.10  C123        S
4        0            373450   8.05     -        S
..     ...               ...    ...   ...      ...
885      5            382652  29.12     -        Q
886      0            211536  13.00     -        S
887      0            112053  30.00   B42        S
889      0            111369  30.00  C148        C
890      0            370376   7.75     -        Q

[714 rows x 12 columns]